<section class="dashboard">
    <div class="nav">
        <app-nav-dashboard></app-nav-dashboard>
    </div>

    <div *ngIf="role==='ADMIN'; else usuario">
        <div class="musicList">
            <app-music-admin></app-music-admin>
        </div>
    </div>

    <ng-template #usuario>
        <div class="musicList">
            <router-outlet></router-outlet>
        </div>
    </ng-template>
    <div class="musicControls">
        <app-music-controls></app-music-controls>
    </div>
</section>