<app-principal></app-principal>

<div class="session" id="session">
  <div class="contentLogin">
    <div class="titleLogin">
      <h1>Iniciar Sesión</h1>
    </div>
    <form #loginForm="ngForm" (ngSubmit)="login()">
      <!--correo-->
      <input
        class="input"
        type="email"
        id="email"
        name="email"
        placeholder="Ingrese su correo electrónico"
        value="{{ lastUser }}"
        #email="ngModel"
        [(ngModel)]="user.email"
      />
      <br />
      <!--password-->
      <input
        class="input"
        type="password"
        name="password"
        id="password"
        placeholder="ingrese su contraseña:"
        #password="ngModel"
        [(ngModel)]="user.password"
      />
      <br />

      <div class="contentButtons">
        <button type="button" class="buttonLogin" routerLink="">
          Cancelar
        </button>
        <button class="button" id="buttonLogin">
          Ingresar
        </button>
      </div>
    </form>
  </div>
</div>
