<app-principal></app-principal>

<div class="registro" id="registro">
  <div class="contentRegistro">
    <div class="titleRegistro">
      <h1 *ngIf="!isError">Registro de usuario</h1>
    </div>

    <div class="mensajes" id="message" *ngIf="isError">{{messageError}}</div>

    <form class="form" #formLogin="ngForm" (ngSubmit)="validateForm(formLogin);" novalidate>
      <!--usuario-->
      <input class="input" type="email" name="email" id="email" placeholder="Ingrese su correo electrónico:" required #email="ngModel" [(ngModel)]="user.email" />

      <!--nombres-->
      <input class="input" type="text" name="firstName" id="firstName" placeholder="Ingrese su nombre:" required
        max="20" #firstName="ngModel" [(ngModel)]="user.firstName"/>

      <!--apellido-->
      <input class="input" type="text" name="lastName" id="lastName" placeholder="Ingrese su apellido:" required
        max="20" #lastName="ngModel" [(ngModel)]="user.lastName"/>

      <!--teléfono-->
      <input class="input" type="text" name="phone" id="phone" placeholder="Ingrese su número de teléfono:" required
        max="10" #phone="ngModel" [(ngModel)]="user.phone"/>

      <!--password-->
      <input class="input" type="password" name="password" id="password" placeholder="Establezca una contraseña:"
        required max="20" #password="ngModel" [(ngModel)]="user.password" />

      <!--Confirmar-password-->
      <input class="input" type="password" name="passwordConfirm" id="passwordConfirm"
        placeholder="Confirme su contraseña:" required max="20" #passwordConfirm="ngModel" [(ngModel)]="user.passwordConfirm" />

      <div class="aceptarTerminos">
        <input type="checkbox" id="terms" name="terms" #terms="ngModel" [(ngModel)]="user.terms" required>

        <label for="terminosCondiciones">Acepta terminos y condiciones</label>
      </div>

      Email: {{formLogin.value.email}} <br>
      Nombre: {{formLogin.value.firstName}} <br>
      Apellido: {{formLogin.value.lastName}} <br>
      Phone: {{formLogin.value.phone}} <br>
      Términos y Condiciones: {{formLogin.value.terms}} 

      <div class="contentButtons">
        <a routerLink="" class="button"> Cancelar </a>
        <button class="button" id="buttonRegister">
          Registrar
        </button>
      </div>
    </form>
  </div>
</div>