.musicList{
    height: calc(100vh - 160px);
    background-image: url(/assets/images/backgrounds/backgroundConcert.png);
    background-size: cover;
    color: white;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.musicList .list{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1200px;
}

.musicList .list button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.musicList .list .song{
    opacity: 0.5;
    margin: 6px;
    padding: 3px;
    color: white;
    font-size: 1em;
    transition: .5s all ease;
    background-image: url(/assets/images/disk1.jpg);
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.musicList .list .song img {
  border-radius: 4px;
  max-width: 30%;
  height: auto;
}

.musicList .list .song:hover{
  opacity: 1;
}

.musicList .list .song .details{
  position: absolute;
  bottom: 0px;
  left: 0;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: .5s all ease;

}
.musicList .list .song:hover .details{
  background-color: rgba(255, 255, 255, 0.3);
}
.musicList .list .song .botonFav{
  position: relative;
}
.musicList .list .song .botonFav img{
  max-width: 30px;
}
.musicList .list .song .botonFav .botonFavOn{
  position: absolute;
  top: 0;
  left: 0;
}
.musicList .list .song .botonFav .botonFavOff{
  opacity: 1;
  transition: .5s all ease;
}
.musicList .list .song .botonFav .botonFavOn{
  opacity: 0;
  transition: .5s all ease;
}
.musicList .list .song:hover .botonFav .botonFavOn{
  opacity: 1;
}
.musicList .list .song:hover .botonFav .botonFavOff{
  opacity: 0;
}

.musicList .list table{
  border: 1px solid gray;
  padding: 15px;
}

.musicList .list thead{
  width: 100%;
}

.musicList .list thead tr th{
  text-align: center;
  padding: 5px 15px 5px 15px;
}

.musicList .list tbody tr{
  border-bottom: 1px solid gray;
}

.musicList .list tbody th{
  width: auto;
  height: auto;
}

.musicList .list tbody th img{
  width: 100%;
  height: auto;
  max-width: 60px;
  margin-right: 15px;
  margin-left: 15px;
}

.musicList .list tbody td{
  text-align: left;
  padding: 0 15px 0 15px;
}

.musicList .list tbody tr .delete{
  max-width: 60px;
  height: auto;
  text-align: center;
  border-radius: 3px;
  padding: 0;
}

.musicList .list tbody tr .delete img{
  width: 100px;
  background-color: white;
  padding: 10px;
}

.musicList .list tbody tr .delete img:hover{
  background-color: gray;
}

.musicList .list tbody tr .modify{
  max-width: 60px;
  height: auto;
  text-align: center;
  border-radius: 3px;
  padding: 0;
}

.musicList .list tbody tr .modify img{
  width: 100px;
  background-color: white;
  padding: 10px;
}

.musicList .list tbody tr .modify img:hover{
  background-color: gray;
}

@media only screen and (max-width: 1200px) {

}
