<section class="musicList">
  <div class="list">
    <div *ngFor="let song of songs" class="song" (click)="changeSong(song)">
      <ng-container *ngIf="song.urlImage; else noImage">
          <button>
            <img src="{{ song.urlImage }}" alt="{{ song.name }}">
          </button>
        </ng-container>
        
        <ng-template #noImage>
          <button>
            <img src="assets/images/disks/disk2.jpg" alt="{{ song.name }}">
          </button>
        </ng-template>

      <div class="details">
        <div>
          {{ song.name }} <br> {{ song.artist }}
        </div>
        <div class="botonFav">
          <div class="botonFavOff">
            <button onclick="deleteSong()">
              <img src="/assets/images/iconos/delete.png" alt="Eliminar esta canción">  
            </button>          
          </div>
          <div class="botonFavOff">
            <a routerLink="form-modify-song">
              <img src="/assets/images/iconos/modify.png" alt="Modificar esta canción">  
            </a>         
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
