<div class="dashboardNav">
    <div class="content">
        <div class="logo">
            <img src="assets/images/logos/logo_2_blanco.png" alt="Bitcia Music">
        </div>
        <div class="input-placeholder">
          <input type="search" required />
          <div class="placeholder">
            Buscar canciones <img src="assets/images/iconos/busqueda.png" alt="Buscar canciones">
          </div>
        </div>
        <div class="navOptions">
          <p class="nombre">Hola {{ name }}</p>
          <img src="assets/images/iconos/search.png" class="search" alt="buscar">
          <a href="#"><img src="assets/images/iconos/favorito.png" alt="Ver lista de canciones favoritas" /></a>
          <a href="#"><img src="assets/images/iconos/usuario.png" alt="Modificar usuario" /></a>
          <a href="#"><img src="assets/images/iconos/candado.png" alt="Cerrar sesión" /></a>
        </div>
    </div>
</div>
