<div class="dashboardNav {{class}}">
  <div class="content">
    <div class="logo">
      <img src="assets/images/logos/logo_2_blanco.png" alt="Bitcia Music">
    </div>
    <div class="buscador" id="buscador">
      <app-search></app-search>
    </div>
    <div class="navOptions">
      <p class="nombre">Usuario: {{userName}} </p>
      <img src="assets/images/iconos/search.png" class="btnBuscar" alt="buscar">
    </div>
    <div class="iconos">
      <div *ngIf="role==='ADMIN'">
        <!-- <div class="btn" routerLink="/"><img src="assets/images/iconos/agregarCancion.png" alt="Agregar canción"/></div> -->
        <div class="btn" routerLink="/addMusic"><img src="assets/images/iconos/agregarCancion.png" alt="Agregar canción" /></div>
      </div>
      <div class="btn" routerLink="/dashboard/favoriteSongs"><img src="assets/images/iconos/favorito.png" alt="Agregar Canción a Favorita" />
      </div>
      <div class="btn" routerLink="/updateUser"><img src="assets/images/iconos/usuario.png" alt="Modificar Usuario" /></div>
      <div class="btn" routerLink="/loginUser" (click)="logout()"><img src="assets/images/iconos/candado.png" alt="Cerrar sesión" /></div>
    </div>
  </div>
</div>
