.musicList{
    height: calc(100vh - 160px);
    background-image: url(/assets/images/backgrounds/backgroundConcert.png);
    background-size: cover;
    color: white;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.musicList .list{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1200px;
}

.musicList .list button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.musicList .list .song{
    width: 250px;
    height: 250px;
    opacity: 0.5;
    margin: 10px;
    color: white;
    font-size: 1em;
    transition: .5s all ease;
}

.musicList .list .song img {
  border-radius: 4px;
  max-width: 100%;
  height: auto;
}

.musicList .list .song:hover{
  opacity: 0.7;
  color: grey;
}

@media only screen and (max-width: 1200px) {

    .musicList .list .song{
        width: 150px;
        height: 150px;
    }
}
