<section class="musicList">
  <div class="list">
    <div *ngFor="let song of songs" class="song" (click)="changeSong(song.songUrl)">

      <ng-container *ngIf="song.image; else noImage">
          <button>
            <img src="{{ song.image }}" alt="{{ song.title }}">
          </button>
        </ng-container>
        
        <ng-template #noImage>
          <button>
            <img src="assets/images/disks/disk2.jpg" alt="{{ song.title }}">
        </button>
        </ng-template>

      <div class="details">
        <div>
          {{ song.title }} <br>{{ song.author }}
        </div>
        <div class="botonFav">
          <div class="botonFavOff">
            <img src="/assets/images/iconos/botonAgregar.png" alt="Me gusta esta canción">            
          </div>
          <div class="botonFavOn">
            <img src="/assets/images/iconos/botonFavorito.png" alt="Me gusta esta canción">            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
