<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BictiaMusic Página Principal</title>
</head>

<body id="mainPrincipal">
    <section class="mainPrincipal">
        <div class="header">
            <div class="logo">
                <img src="/assets/images/logos/logo_2_blanco.png" alt="Logo BictiaMusic" width="300px" />
            </div>
            <div class="links">
                <div class="link" routerLink="/registerUser">Registrarse</div>

                <div class="link" routerLink="/loginUser">Iniciar sesion</div>
            </div>
        </div>
    </section>

    <section class="aboutUsContent">
        <div class="aboutUs">
            <div class="person">
                <div class="image">[foto]</div>
                <div class="datos">
                    <div class="nombre">
                        Nombre y apellido
                    </div>
                    <div class="rol">
                        SCRUM Máster
                    </div>
                    <div class="descripcion">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error alias quos voluptatibus, odit
                        quisquam accusamus voluptates aspernatur ad, culpa beatae ipsum dolor molestiae delectus,
                        consequuntur officia eos suscipit laudantium consequatur?
                    </div>
                    <div class="contacto">
                        datos de contacto.
                    </div>
                </div>
            </div>
            <div class="person">
                <div class="image">[foto]</div>
                <div class="datos">
                    <div class="nombre">
                        Nombre y apellido
                    </div>
                    <div class="rol">
                        Product Owner
                    </div>
                    <div class="descripcion">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error alias quos voluptatibus, odit
                        quisquam accusamus voluptates aspernatur ad, culpa beatae ipsum dolor molestiae delectus,
                        consequuntur officia eos suscipit laudantium consequatur?
                    </div>
                    <div class="contacto">
                        datos de contacto.
                    </div>
                </div>
            </div>
            <div class="person">
                <div class="image">[foto]</div>
                <div class="datos">
                    <div class="nombre">
                        Nombre y apellido
                    </div>
                    <div class="rol">
                        Líder Backend
                    </div>
                    <div class="descripcion">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error alias quos voluptatibus, odit
                        quisquam accusamus voluptates aspernatur ad, culpa beatae ipsum dolor molestiae delectus,
                        consequuntur officia eos suscipit laudantium consequatur?
                    </div>
                    <div class="contacto">
                        datos de contacto.
                    </div>
                </div>
            </div>
            <div class="person">
                <div class="image">[foto]</div>
                <div class="datos">
                    <div class="nombre">
                        Nombre y apellido
                    </div>
                    <div class="rol">
                        Líder Frontend
                    </div>
                    <div class="descripcion">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error alias quos voluptatibus, odit
                        quisquam accusamus voluptates aspernatur ad, culpa beatae ipsum dolor molestiae delectus,
                        consequuntur officia eos suscipit laudantium consequatur?
                    </div>
                    <div class="contacto">
                        datos de contacto.
                    </div>
                </div>
            </div>
            <div class="person">
                <div class="image">[foto]</div>
                <div class="datos">
                    <div class="nombre">
                        Nombre y apellido
                    </div>
                    <div class="rol">
                        Desarrollador Backend
                    </div>
                    <div class="descripcion">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error alias quos voluptatibus, odit
                        quisquam accusamus voluptates aspernatur ad, culpa beatae ipsum dolor molestiae delectus,
                        consequuntur officia eos suscipit laudantium consequatur?
                    </div>
                    <div class="contacto">
                        datos de contacto.
                    </div>
                </div>
            </div>
            <div class="person">
                <div class="image">[foto]</div>
                <div class="datos">
                    <div class="nombre">
                        Nombre y apellido
                    </div>
                    <div class="rol">
                        Desarrollador Frontend
                    </div>
                    <div class="descripcion">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error alias quos voluptatibus, odit
                        quisquam accusamus voluptates aspernatur ad, culpa beatae ipsum dolor molestiae delectus,
                        consequuntur officia eos suscipit laudantium consequatur?
                    </div>
                    <div class="contacto">
                        datos de contacto.
                    </div>
                </div>
            </div>
            <div class="person">
                <div class="image">[foto]</div>
                <div class="datos">
                    <div class="nombre">
                        Nombre y apellido
                    </div>
                    <div class="rol">
                        Desarrollador Backend
                    </div>
                    <div class="descripcion">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error alias quos voluptatibus, odit
                        quisquam accusamus voluptates aspernatur ad, culpa beatae ipsum dolor molestiae delectus,
                        consequuntur officia eos suscipit laudantium consequatur?
                    </div>
                    <div class="contacto">
                        datos de contacto.
                    </div>
                </div>
            </div>
        </div>
    </section>

<br>
    <section class="copyright">
        2020 - Todos los derechos reservados
    </section>
</body>

</html>