<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BictiaMusic Página Principal</title>
    <script src="/src/app/components/principal/funciones.js"></script>
  </head>
  <body id="mainPrincipal">
    <section class="mainPrincipal">
      <div class="header">
        <div class="logo">
          <img
            src="/assets/images/logos/logo_2_blanco.png"
            alt="Logo BictiaMusic"
            width="300px"
          />
        </div>
        <div class="links">
          <div class="link" routerLink="/registerUser">Registrarse</div>

          <div class="link" routerLink="/loginUser">Iniciar sesion</div>
        </div>
      </div>

      <section class="acerca">
        <div class="content">
            <div class="titulo">
                <h1>Acerca de nosotros</h1>
            </div>
            <div class="descripcion">
                BICTIA MUSIC es una aplicación Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt similique
                deserunt eligendi inventore. Mollitia expedita, repudiandae suscipit autem placeat sunt quam, quo magni
                possimus culpa tempore rem.a <br><br>
                quos nihil. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis debitis qui asperiores a quae.
                Recusandae quam voluptas mollitia, ducimus minus consequatur ipsam aliquam tenetur placeat similique
                perferendis maiores exercitationem accusantium. <br> <br>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, a. Laboriosam perspiciatis ratione earum hic
                aperiam dicta cupiditate autem nesciunt quam repudiandae eos amet quia eum sunt fuga molestiae sit similique
                neque nulla modi, veritatis consequuntur fugit! A delectus sit recusandae tempore quisquam, est consequatur
                aut sed dolore maxime? Cum autem neque dolorem ea necessitatibus exercitationem odio incidunt. Hic quia
                quisquam sit fugit aliquam nihil pariatur a, vitae sint. Fugiat in error doloribus, est laudantium,
                voluptate odit vero atque laborum quos, quam quo labore sed id ipsa laboriosam iste ullam quidem incidunt
                quae maiores impedit dicta placeat. Voluptatem tempora maiores alias at ut saepe maxime reprehenderit, rem,
                expedita, quibusdam a quam sint eaque est consequatur voluptates magnam eius architecto! Vero enim quo
                placeat tempora, quibusdam ducimus suscipit, nam officia ratione ut sint alias. Eligendi voluptatibus,
                tempore distinctio deleniti aperiam nobis illo ullam aliquid blanditiis incidunt nisi, consequatur tenetur
                hic corporis magnam. Quod ad ipsum quasi a optio molestiae doloribus, nam officia ipsam sed minus quis
                voluptate saepe omnis eveniet excepturi atque corporis nemo obcaecati voluptatum nostrum cupiditate
                mollitia! Veniam quibusdam eos architecto libero ea amet? Nihil necessitatibus repellat sed velit labore
                facilis iusto amet error, mollitia ea quas beatae voluptas!
            </div>
            <div class="sede">
                <h2>Nuestra Sede Principal</h2>
                <div class="direccionSede">
                    Bogota’s ICT Incubator and Accelerator
                    Calle 35 #5 – 15. Bogotá Colombia <br>
                    BootCamp Full Stack 2020 - Turno AM. <br>
                    Teléfono: (57) 1 703 59 95 <br>
                </div>
            </div>
            <div class="soporte">
                <h2>Soporte y Servicio al Cliente:</h2>
                <div>Teléfono: (57) 1 703 59 95 <br>
                correo: loren¡mipsum@gmail.com </div>
            </div>
            <div class="listado">
                <div>
                    <h2>Nuestro Equipo de Desarrollo:</h2>
                </div>
                <div class="personas">
                    <div class="persona">
                        <div class="foto">
                            FOTO
                        </div>
                        <div class="datos">
                            <div class="nombre">Mayerli Ballén</div>
                            <div class="rol">Scrum Máster / Desarrolladora Frontend</div>
                            <div class="perfil">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quo quidem ex
                                dolorum eum voluptatibus id perferendis accusamus, odit sit repellendus consequatur distinctio
                                dolores! Quae quaerat officia officiis illum quidem!</div>
                        </div>
                    </div>
                    <div class="persona">
                        <div class="foto">
                            FOTO
                        </div>
                        <div class="datos">
                            <div class="nombre">Christian Bravo</div>
                            <div class="rol">Product Owner / Desarrollador Backend</div>
                            <div class="perfil">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quo quidem ex
                                dolorum eum voluptatibus id perferendis accusamus, odit sit repellendus consequatur distinctio
                                dolores! Quae quaerat officia officiis illum quidem!</div>
                        </div>
                    </div>
                    <div class="persona">
                        <div class="foto">
                            FOTO
                        </div>
                        <div class="datos">
                            <div class="nombre">Nicolás Martín</div>
                            <div class="rol">Lider Backend</div>
                            <div class="perfil">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quo quidem ex
                                dolorum eum voluptatibus id perferendis accusamus, odit sit repellendus consequatur distinctio
                                dolores! Quae quaerat officia officiis illum quidem!</div>
                        </div>
                    </div>
                    <div class="persona">
                        <div class="foto">
                            FOTO
                        </div>
                        <div class="datos">
                            <div class="nombre">Redvers Escobar</div>
                            <div class="rol">Líder Frontend</div>
                            <div class="perfil">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quo quidem ex
                                dolorum eum voluptatibus id perferendis accusamus, odit sit repellendus consequatur distinctio
                                dolores! Quae quaerat officia officiis illum quidem!</div>
                        </div>
                    </div>
                    <div class="persona">
                        <div class="foto">
                            FOTO
                        </div>
                        <div class="datos">
                            <div class="nombre">Andrés García</div>
                            <div class="rol">Desarrollador Frontend</div>
                            <div class="perfil">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quo quidem ex
                                dolorum eum voluptatibus id perferendis accusamus, odit sit repellendus consequatur distinctio
                                dolores! Quae quaerat officia officiis illum quidem!</div>
                        </div>
                    </div>
                    <div class="persona">
                        <div class="foto">
                            FOTO
                        </div>
                        <div class="datos">
                            <div class="nombre">Camilo Londoño</div>
                            <div class="rol">Desarrollador Backend</div>
                            <div class="perfil">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quo quidem ex
                                dolorum eum voluptatibus id perferendis accusamus, odit sit repellendus consequatur distinctio
                                dolores! Quae quaerat officia officiis illum quidem!</div>
                        </div>
                    </div>
                    <div class="persona">
                        <div class="foto">
                            FOTO
                        </div>
                        <div class="datos">
                            <div class="nombre">Yuliano Salvatore</div>
                            <div class="rol">Desarrollador Backend</div>
                            <div class="perfil">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quo quidem ex
                                dolorum eum voluptatibus id perferendis accusamus, odit sit repellendus consequatur distinctio
                                dolores! Quae quaerat officia officiis illum quidem!</div>
                        </div>
                    </div>
                    <div class="persona">
                        <div class="foto">
                            FOTO
                        </div>
                        <div class="datos">
                            <div class="nombre">Julián Rivera</div>
                            <div class="rol">Desarrollador Frontend</div>
                            <div class="perfil">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quo quidem ex
                                dolorum eum voluptatibus id perferendis accusamus, odit sit repellendus consequatur distinctio
                                dolores! Quae quaerat officia officiis illum quidem!</div>
                        </div>
                    </div>
                    <div class="persona">
                        <div class="foto">
                            FOTO
                        </div>
                        <div class="datos">
                            <div class="nombre">José Guerra</div>
                            <div class="rol">Desarrollador Frontend</div>
                            <div class="perfil">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quo quidem ex
                                dolorum eum voluptatibus id perferendis accusamus, odit sit repellendus consequatur distinctio
                                dolores! Quae quaerat officia officiis illum quidem!</div>
                        </div>
                    </div>
                </div>
        
        
            </div>
        </div>

    </section>

<br>    
    </section>
    <section class="copyright">
      2020 - Todos los derechos reservados - <a routerLink="/acerca">Acerca de nosotros</a>
    </section>
  </body>
</html>


