<section class="controls">
    <audio src="./assets/songs/Cull.mp3" id="bictiaMusic"></audio>
    <div class="info1">
        <img src="assets/images/iconos/botonAgregar.png" alt="" />
        <p id="time">00:00</p>
    </div>
    <div class="btnControl">
        <img src="./assets/icons/pause.png" (click)="pausarCancion()" id="playImage" alt="">
    </div>
    <div class="info2">
        <p class="primary">Nombre de la cancion</p>
        <p class="secondary">Nombre del artista - Nombrel del disco</p>
    </div>
</section>

<!-- <section class="controls">
    <audio id="bictiaMusic" src="assets/music/MortalReminder.mp3" controls></audio>
</section> -->
