.controls{
    width: 100%;
    height: 120px;
    background-color: #A9B6C4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info1 {
    display: flex;
    align-items: center;
	width: 180px;
	justify-content: center;  
}

.info1 img {
	height: auto;
	width: 50px;
}

.info1 #time {
    margin-left: 5px;
	font-size: 40px;
	width: 95px;
}

.btnControl {
    margin: 0 10px;
}

.btnControl img {
    width: 80px;
    height: auto;
}

.info2 {
	justify-content: center;
	display: flex;
	flex-direction: column;
}

.info2 .songName{
	font-weight: bold;
	font-size: 22px;
}

.info2 .details {
	font-size: 17px;
	font-weight: normal;
	display: flex;
	justify-content: center;
}

.info2 .decorator {
	margin: 0 2px;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1200px) {
	.info1 {
		width: 105px;
	}
    .info1 img {
        width: 25px;
        height: auto;
    }
    .info1 #time {
        font-size: 22px;
        width: 60px;
    }
    .btnControl img {
        width: 54px;
    }
    .info2 .songName{
	    font-size: 16px;
    }
	.info2 .details{
		flex-direction: column;
		font-size: 12px
	}
	.info2 .decorator {
		display: none;
	}
}
