<section class="musicList">
    <div class="list">
      <div *ngFor="let song of songs" class="song" (click)="changeSong(song)">
        <ng-container *ngIf="song.urlImage; else noImage">
            <button>
              <img src="{{ song.urlImage }}" alt="{{ song.name }}">
            </button>
          </ng-container>
          
          <ng-template #noImage>
            <button>
              <img src="assets/images/disks/disk2.jpg" alt="{{ song.name }}">
          </button>
          </ng-template>
  
        <div class="details">
          <div>
            {{ song.name }} <br> {{ song.artist }}
          </div>
          <div class="botonFav">
            <div class="botonFavOff">
              <img src="/assets/images/iconos/botonAgregar.png" (click)="addFav(song)" alt="No me gusta esta canción">            
            </div>
            <div class="botonFavOn">
              <img src="/assets/images/iconos/botonFavorito.png" (click)="delFav()" alt="Me gusta esta canción">            
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
  
